
<div id="sidenavComponent">
    <button mat-icon-button
    id="btnClose"
    class="mb-4"
    (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
    <div class="menu">
        <a mat-button class="my-2" href="#"><p>Collections</p></a>
        <a mat-button class="my-2" href="#"><p>Men</p></a>
        <a mat-button class="my-2" href="#"><p>Women</p></a>
        <a mat-button class="my-2" href="#"><p>About</p></a>
        <a mat-button class="my-2" href="#"><p>Contact</p></a>
    </div>
</div>